<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        
    </head>
    <body>
       <h1> Welcome to Text Analyzer. Enter your text </h1>
        <form action="/analyze" method ='GET'>
       <textarea name= "text" style="width: 797px; height: 122px;"></textarea><br>
       <input type="checkbox" name="removepunc"> Remove Punctuations<br>
       <input type="checkbox" name="spaceremover"> Remove Extra Spaces<br>
       <input type="checkbox" name="newlineremover"> Remove New Line<br>
       <input type="checkbox" name="charcount">Count Character<br>
       <input type="checkbox" name="capfirst"> Uppercase<br>
       <button type = "submit"> Analyze Text </button> 
        </form>
    </body>
</html>